<div class="formmaindiv">
  <div class="formdiv">
    <h1 class="h1">Login</h1>
    <div class="formfields">
      <form
        #loginForm="ngForm"
        (ngSubmit)="loginUser(loginForm.value, loginForm)"
      >
        <label>Email</label>

        <input
          type="email"
          placeholder="Enter Email"
          name="email"
          ngModel
          class="inputfileds"
          required
          email
        />
        <br />

        <label>Password</label>

        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          ngModel
          class="inputfileds"
          required
        />

        <!-- <div *ngIf="submitted && loginForm.invalid" class="error_msg">
          <div
            *ngIf="loginForm.controls['email' ]?.errors?.['required'] ||
                    loginForm.controls['password' ]?.errors?.['required']"
          >
            All fields is required.
          </div>
        </div> -->

        <div
          *ngIf="submitted && loginForm.controls['email']?.invalid"
          class="error_msg"
        >
          <div *ngIf="loginForm.controls['email']?.errors?.['email']">
            Please enter a valid email address.
          </div>
        </div>

        <div *ngIf="backenderr_msg" class="error_msg">
          {{ backenderr_msg }}
        </div>

        <div *ngIf="backendSucc_msg" class="success_msg">
          {{ backendSucc_msg }}
        </div>

        <br />
        <button class="button" (click)="inputfieldsCheck(loginForm)">
          Login
        </button>
      </form>
    </div>
    <p class="acount-msg">
      You don't have an account, you can
      <a routerLink="/signup" routerLinkActive="active-link">SignUp</a>
    </p>
  </div>
</div>
