<nav class="navbar">
  <div class="links">
    <li><a routerLink="/profile" routerLinkActive="active-link">Profile</a></li>
    <li>
      <a routerLink="/timeline" routerLinkActive="active-link">Timeline</a>
    </li>
    <li>
      <a routerLink="/userprofile" routerLinkActive="active-link">UserInfo</a>
    </li>
    <li (click)="logout()">LogOut</li>
  </div>
</nav>

<div class="maindiv">
  <div *ngIf="posts.length > 0; else noPosts">
    <div *ngFor="let post of posts" class="post_div">
      <strong class="username">{{ post.username }}</strong>
      <div class="user_posts">
        <p><strong> Title:</strong>{{ post.title }}</p>
        <p><strong> Description:</strong>{{ post.description }}</p>
      </div>
    </div>
  </div>

  <ng-template #noPosts>
    <p>No posts available.</p>
  </ng-template>
</div>
