* {
    margin: 0;
    padding: 0;
}
.h1{
    font-size: 24px;
  font-weight: bold;
  color: rgb(82, 81, 81);
  margin-bottom: 20px;
}
.formmaindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    /* background: linear-gradient(135deg, #74ebd5, #acb6e5); Beautiful gradient background */
    background-image: url('/assets/image/bg.jpg');
    background-size: cover;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}
.formdiv {
    background: #ffffff42;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .formfields {
    text-align: left;
  }
  label {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    margin-bottom: 5px;
    display: block;
  }
  
.inputfileds{
    width: 92%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    text-transform: lowercase;
}
.inputfileds:focus {
    border-color: #74ebd5;
    outline: none;
    box-shadow: 0 0 5px rgba(116, 235, 213, 0.5);
  }
  
.button{
    width: 98%;
    padding: 12px;
    background: #082674a1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
   
}
.button:hover {
    background: #082774c6;
  }
.acount-msg{
  margin-top: 2%;
}

.error_msg{
  color: red;
}
.success_msg{
  color: rgb(0, 128, 73);
}